* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1646px;
    margin: 0 auto;
    padding: 0 42px;
}

@font-face {
    font-family: 'Benzin';
    src: url('./fonts/Benzin-Medium.woff2') format('woff2'),
        url('./fonts/Benzin-Medium.woff') format('woff'),
        url('./fonts/Benzin-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Benzin';
    src: url('./fonts/Benzin-Regular.woff2') format('woff2'),
        url('./fonts/Benzin-Regular.woff') format('woff'),
        url('./fonts/Benzin-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Benzin';
    src: url('./fonts/Benzin-Bold.woff2') format('woff2'),
        url('./fonts/PPNeueMachina-Ultrabold.otf') format('woff'),
        url('./fonts/PPNeueMachina-Ultrabold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-Ultrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

/* если у тебя появится жирная версия (например, PPNeueMachina-Bold.otf), добавь так: */
/*
@font-face {
  font-family: 'PP Neue Machina';
  src: url('./fonts/PPNeueMachina-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
*/

:root {
    --font-family: "Benzin-Medium", sans-serif;
    --second-family: "PP Neue Machina", sans-serif;
    --third-family: "Benzin-Regular", sans-serif;
    --font3: "Benzin-Bold", sans-serif;
}

body {
    background-color: #fff;
    color: #000;
}

.site-header {
    background: #171717;
    padding: 22px 0;
    border-radius: 100px;
    margin-left: 42px;
    margin-right: 42px;
    margin-top: 40px;
}

.header-container {
    max-width: 1646px;
    margin: 0 auto;
    padding: 0 42px;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.burger-icon {
    width: 28px;
    height: auto;
    display: block;
}

.header-btn {
    font-family: 'Benzin', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    border: none;
    border-radius: 100px;
    padding: 12px 24px;
    background-color: #63d92b;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.header-btn:hover {
    background-color: #fff;
    transform: translateY(-2px);
}


.logo-icon {
    height: 40px;
    display: block;
}



.hero-text {
    margin-bottom: 40px;
}

.main-title {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 160px;
    line-height: 112%;
    text-align: center;
    color: #000;
}


.highlight {
    color: #63d92b;
}

.main-subtitle {
    font-family: 'Benzin', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 112%;
    letter-spacing: 0.05em;
    color: #000;
}

.text-block {
    font-family: 'Benzin', sans-serif;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Центровка по горизонтали */
    /* Расстояние между блоками */
}


.text-item {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #63d92b;
}

.text-title {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #fff;
}

.text-block-1 {
    background: #171717;
    border-radius: 33px;
    padding: 10px 15px;
    margin-bottom: 34px;
}

.text-block-2 {
    border-radius: 33px;
    padding: 10px 15px;
    background: #171717;
    width: 949px;
}

.text-block-3 {
    border-radius: 33px;
    width: 841px;
    padding: 10px 15px;
    background: #171717;
    margin-top: 34px;
}

.lines-img {
    width: 100%;
    max-width: 1812px;
}

.lines-container {
    margin-top: 200px;
}


.eagle-container {
    position: relative;
}

.eagle-img {
    position: absolute;
    left: -60px;
    top: -494px;

}


.partners-header {
    text-align: center;
}

.partners-header-text {
    font-family: 'Benzin', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: #171717;
    padding: 10px 24px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: fit-content;
    margin: 0 auto;
}

.partners-logos {
    width: 100%;
    height: 111px;
    background: #171717;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;
}

.partners-logos {
    width: 99.5vw;
    margin-left: calc(-50vw + 50%);
}


.partners-logos div {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    font-family: 'Benzin', sans-serif;

}

.partners-container {
    width: 100%;
}

.section-different__content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.different-line {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-different__line {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 96px;
    line-height: 112%;
    letter-spacing: 0.05em;
    text-align: right;
    color: #63d92b;
}

.zapyataya {
    color: #000;
}

.color {
    font-weight: 300;
    color: #000;
}

.diffrent-subtitle {
    font-family: 'Benzin', sans-serif;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #000;
    white-space: nowrap;

    /* запретить перенос текста */
    overflow: hidden;
    /* скрыть лишнее, если не влезает */
    text-overflow: ellipsis;
    /* добавить троеточие, если текст обрезается */
}



.portfolio-header {
    display: flex;
    align-items: center;
    gap: 19px;
    justify-content: center;
}

.section-title {
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 0.05em;
    color: #000;
    font-family: 'Benzin', sans-serif;

}

.text-dad {
    display: flex;
    align-items: center;
    gap: 40px;
}


.portfolio-filters {
    background: #000;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 902px;
    padding-left: 20px;
    padding-right: 30px;
    height: 127px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.filter-btn {
    font-family: 'Benzin';
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000;
    background: #fff;
    border: none;
    border-radius: 100px;
    height: 56px;
    width: 246px;
}


.filter-btn:hover {
    color: #fff;
    border-radius: 100px;
    background-color: #63d92b;
}


.portfolio-showcase {
    background: #000;
    width: 99.5vw;
    /* вся ширина окна браузера */
    margin-left: calc(-50vw + 50%);
    /* выровнять по центру относительно контейнера */
    overflow: hidden;
    box-sizing: border-box;
    padding: 40px 20px;
}

.showcase-title {
    font-weight: 400;
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 40px;
    letter-spacing: 0.05em;
    font-family: 'Benzin', sans-serif;
    color: #fff;
}


.showcase-swiper {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
}

/* Сброс стилей Swiper'а и задание своих */
.swiper-button-prev,
.swiper-button-next {
    width: 56px !important;
    height: 56px !important;
    background: transparent !important;
}

/* Стили для SVG-кнопок */
.custom-swiper-btn {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Отступы от краёв слайдера */
.swiper-button-prev {
    left: -70px;
}

.swiper-button-next {
    right: -70px;
}

/* Чтобы SVG не сжимался */
.custom-swiper-btn svg {
    width: 56px;
    height: 56px;
    display: block;
}

.swiper {
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    outline: none;
    border: none;
    box-shadow: none;
}

.swiper-button-prev:focus,
.swiper-button-next:focus,
.swiper-button-prev:active,
.swiper-button-next:active {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none !important;
}


.showcase-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    /* фиксированный отступ между блоками */
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
    color: white;
}


.showcase-info {
    font-family: 'PPNeueMachina', sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.05em;
    margin-top: 30px;
    color: #fff;
}


.btn-cta-secondary {
    font-family: 'Benzin', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    border: none;
    border-radius: 100px;
    padding: 12px 24px;
    background-color: #63d92b;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.btn-cta-secondary:hover {
    background-color: #fff;
    transform: translateY(-2px);
}

.step-title {
    font-family: 'Benzin', sans-serif;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 0.05em;
    color: #000;
    margin: 22px 0;
}

.service-steps {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Ряды */
.step-row {
    display: flex;
    gap: 20px;
}

.row-1 {
    margin-top: 22px;
}

.row-3 {
    margin-bottom: 22px;
}

/* Кнопки */
.btn-secondary {
    font-family: 'Benzin', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    height: 84px;
    border: none;
    border-radius: 100px;
    background-color: #000;
    color: #fff;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Индивидуальные ширины */
.btn-step-1 {
    width: 437px;
}

.btn-step-2 {
    width: 558px;
}

.btn-step-3 {
    width: 380px;
}

.btn-step-4 {
    width: 486px;
}

.btn-step-5 {
    width: 486px;
}

.btn-step-6 {
    width: 410px;
}

.btn-step-7 {
    width: 226px;
}

.btn-step-8 {
    width: 226px;
}

.payment-description {
    font-family: 'PPNeueMachina', sans-serif;
    text-wrap: nowrap;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0.05em;
    color: #000;
}

.form-section {
    padding: 60px;
}

.form-wrapper {
    border-radius: 30px;
    width: 100%;
    max-width: 1548px;
    height: auto;
    background: #171717;
    padding: 60px;
    box-sizing: border-box;
    margin: 0 auto;
}

input,
textarea {
    font-family: 'PP Neue Machina';
    font-weight: 800;
    font-size: 24px;
    line-height: 112%;
    letter-spacing: 0.05em;
    color: #969696;
}

.samo {
    font-family: 'PP Neue Machina';
    font-weight: 400;
    font-size: 20px;
    line-height: 112%;
    letter-spacing: 0.05em;
    color: #fff;
}

.agree {
    font-family: 'PP Neue Machina';
    font-weight: 400;
    font-size: 24px;
    line-height: 112%;
    letter-spacing: 0.05em;
    color: #fff;
}

label {
    font-family: 'PP Neue Machina';
    font-weight: 800;
    font-size: 24px;
    line-height: 112%;
    letter-spacing: 0.05em;
    color: #fff;
}

.form-group-3 label {
    font-family: 'PP Neue Machina';
    font-weight: 800;
    font-size: 24px;
    line-height: 112%;
    letter-spacing: 0.05em;
    color: #fff;
    display: block;
}

.form-group-3 input {
    border-radius: 30px;
    width: 100%;
    height: 80px;
    background: #fff;
    margin-top: 20px;
    font-weight: 800;
    font-size: 24px;
    border: none;
    padding-left: 30px;
    line-height: 112%;
    letter-spacing: 0.05em;
    color: #969696;
    box-sizing: border-box;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* Отступ между группами полей */
}

.form-row {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Отступ между полем имени и телефона */
}

.form-group {
    flex: 1;
    /* Чтобы группы делили пространство поровну */
}

.form-group label {
    font-weight: 800;
    font-size: 24px;
    line-height: 112%;
    letter-spacing: 0.05em;
    color: #fff;
    display: block;
    /* Сделал label блочным */
}

.tip-of-client {
    margin-top: 40px;
    /* Отступ сверху для блока с выбором клиента */
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    line-height: 112%;
    letter-spacing: 0.05em;
}

input:focus {
    outline: none;
}

.form-group input {
    border-radius: 30px;
    width: 100%;
    /* Установил 100% для адаптивности */
    height: 80px;
    padding: 0 30px;
    /* Убрал padding-left и добавил padding */
    border: none;
    background: #fff;
    margin-top: 20px;
    /* Отступ между label и input */
    font-weight: 800;
    font-size: 24px;
    line-height: 112%;
    letter-spacing: 0.05em;
    color: #969696;
    box-sizing: border-box;
    /* Добавил box-sizing */
}

.radio-group {
    display: flex;
    gap: 40px;
    /* Отступ между радио-кнопками */
    margin-top: 20px;
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 15px;
    /* Отступ между кастомным радио и текстом */
    font-size: 18px;
    /* Немного уменьшил размер, чтобы было похоже на макет */
    color: #fff;
    cursor: pointer;
}

.custom-radio {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-radio::after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #63d92b;
    /* Цвет активного состояния */
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

input[type="radio"]:checked+.custom-radio::after {
    transform: scale(1);
}

input[type="radio"] {
    display: none;
    /* Скрываем стандартную радио-кнопку */
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 15px;
    /* Отступ между кастомным чекбоксом и текстом */
    font-size: 18px;
    /* Размер шрифта для текста */
    color: #fff;
    margin-top: 40px;
    /* Отступ сверху */
    cursor: pointer;
}

.custom-checkbox {
    background: #595959;
    border-radius: 15px;
    width: 33px;
    height: 33px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group-6 {
    display: flex;
    gap: 25px;
}

.custom-checkbox::after {
    content: '';
    width: 16px;
    height: 16px;
    background-color: #63d92b;
    /* Цвет активного состояния */
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

input[type="checkbox"]:checked+.custom-checkbox::after {
    opacity: 1;
}

input[type="checkbox"] {
    display: none;
    /* Скрываем стандартный чекбокс */
}

.btn-submit {
    background: #63d92b;
    border-radius: 100px;
    width: 100%;
    height: 82px;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000;
    font-family: 'Benzin', sans-serif;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}

.form-group-4 {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.project-descriptions {
    text-wrap: nowrap;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #fff;
}

textarea:focus {
    outline: none;
}

textarea {
    border-radius: 30px;
    width: 100%;
    background: #fff;
    border: none;
    padding: 30px;
    box-sizing: border-box;
    font-weight: 800;
    font-size: 24px;
    line-height: 112%;
    letter-spacing: 0.05em;
    color: #969696;
    margin-top: 20px;
    height: 200px;
    /* Установил высоту для текстовой области */
    resize: none;
    /* Запретил изменять размер */
}

textarea::placeholder {
    color: #969696;
}

.main-footer {
    background: #000;
    font-family: 'PPNeueMachina', sans-serif;
    color: #fff;
    padding: 60px;
    /* Отступы сверху, снизу и по бокам */
    font-family: 'Arial', sans-serif;
    /* Замените на ваши шрифты, если они другие */
    position: relative;
    /* Синяя полоска сверху */
}

.footer-content {
    display: flex;
    padding-top: 122px;
    justify-content: space-between;
    align-items: flex-start;
    /* Элементы выравниваются по верхнему краю */
    max-width: 1548px;
    /* Максимальная ширина контента */
    margin: 0 auto;
    text-align: left;
    /* Выравнивание текста */
}

.footer-heading {
    font-weight: 800;
    font-size: 14px;
    line-height: 112%;
    letter-spacing: 0.05em;
    color: #fff;
}

.footer-contacts,
.footer-socials {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* Отступ между строками контактов и ссылок */
}

.contact-link,
.social-link {
    font-family: 'PPNeueMachina', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 112%;
    letter-spacing: 0.05em;
    color: #fff;
}

.contact-link:hover,
.social-link:hover {
    color: #ccc;
}

.contact-address {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #fff;
}




.logo-description {
    font-family: 'PPNeueMachina', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 112%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
}

.footer-bottom {
    max-width: 1548px;
    margin: 40px auto 0;
    /* Отступ сверху */
    text-align: right;
}

.footer-copyright {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    opacity: 0.6;
    /* Сделал текст полупрозрачным, как на макете */
}